.bg-index{
    background: url("/static/img/background.jpg") no-repeat fixed;
    background-size: 100% auto;
  }
  
  .navbar a.nav-link {
    color: #FFFEF6 !important;
  }
  
  .bg-dark {
    background-color: #2E2E2E !important;
  }
  
  .ms-footer {
    background-color: #202020;
  }
  
  .ms-footer p {
    color: #7F7F7F;
    font-size: 13px;
  }
  
  .ms-footer a:hover {
    color: #6ab43e;
    text-decoration: none;
  }
  
  .ms-footer-bottom span{
    font-size: 13px;
    line-height: 38px;
  }
  
  .ms-footer-bottom a {
    color: #6ab43e;
    text-decoration: none;
  }
  
  .ms-footer-bottom a:hover {
    color: #fff;
  }

  /* Auth Forms */
  .card-header {
    background-color: #6ab43e !important;
  }

  .btn-primary {
    background-color: #6ab43e !important;
    border-color: #6ab43e !important;
  }

  .btn-outline-primary {
    border-color: #6ab43e !important;
    color: #6ab43e !important;
  }

  .btn-outline-primary:hover {
    background-color: #6ab43e !important;
    color: white !important;
  }

  form .form-control {
    margin-bottom: 10px;
    border-radius: 4px;
  }

  form label {
    font-weight: 500;
    margin-bottom: 5px;
  }

  /* Alert Messages */
  .alert-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
  }